<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>WebSocket Client</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="js/lib/ng-stomp.standalone.min.js"></script>

 <style> 
 .liveScore{
    color : blue;
 }

li{
 list-style: none;
 padding:0px 0px 10px 0px;
}
</style>
</head>
<body >
<div class="liveScore" ng-app="PriceApp" ng-controller="PriceController">
   <p>Enlightenment raw price</p>
    <ul>
        <li>{{Xbid}-{Xask}}}</li>
    </ul>
</div>

<script type="text/javascript">

  var app = angular.module('PriceApp', ['ngStomp']);

  //app.controller('LiveController', function ($stomp, $scope) {
  app.controller('PriceController', function ($stomp, $scope) {

      // $scope.myres = {};

      $stomp.connect('/ticker-data', {})
            .then(function (frame) {
                var subscription = $stomp.subscribe('/topic/myticker',
                    function (payload, headers, res) {
                        $scope.Xbid = "B"; // payload;
                        $scope.Xask = "A";
                        $scope.$apply($scope.myres);
                });

                $stomp.send('/app/score', '');
         });
  });

 </script>

</body>
</html>